
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vsix
publish.bat

publish/
temp/

*.temp.json
*.js

[rR]elease*.sh
[rR]elease*.cmd

.fake
node_modules
Tasks/FAKE5.dev/CredentialProvider/
Tasks/SetPaketCredentialProvider.dev/CredentialProvider/
Tasks/SetPaketCredentialProvider/
Tasks/FAKE5/
Tasks/FAKE5Vault/
Tasks/PaketCredentialCleanup/
Tasks/PaketRestore/
/.vs
_build